@model medicalassitent.web.Data.Entities.DocumentType

@{
    Layout = null;
}
<div class="modal-header">
    <h4>DocumentType</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <h5>Details</h5>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoDeDocumento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoDeDocumento)
        </dd>
    </dl>
</div>
<div class="modal-footer">
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
